<html>
<head><title>Yelp - IT Helpdesk Toolbox</title>

    <link rel="stylesheet" href="https://cami-canary.yelpcorp.com/static/styleguide-pkg.css">
    <link rel="stylesheet" href="https://cami-canary.yelpcorp.com/static/cami.css?2">
    <link rel="stylesheet" href="https://cami-canary.yelpcorp.com/static/checkbox.min.css">
    <link rel="stylesheet" href="https://cami-canary.yelpcorp.com/static/jquery-ui.css">
    <link rel="stylesheet" href="https://cami-canary.yelpcorp.com/static/navigation.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="icon" type="image/png" href="https://cami-canary.yelpcorp.com/static/favicon.ico">

</head>
<body>
    <div class="ysection">
            <div class="main-header--flat main-header main-content-wrap js-main-header webview-hidden main-header--slim">
                <div class="main-header_wrapper">
                    <div class="content-container">
                        <div class="arrange arrange--middle main-header_arrange centerme">
                            <div class="arrange_unit main-header--full_arrange_unit">
                                <div class="main-header_logo js-analytics-click" id="logo" data-analytics-label="logo"></div>
                            </div>
                            <div class="arrange_unit u-nowrap">
                                <h2 class="main-header_title"><span style="margin-left:10px;"><a href="/" style="color: #FFFFFF">IT Helpdesk Toolbox</a></span></h2>
                            </div>
                            <div class="arrange_unit arrange_unit--fill align-middle main-header--full_arrange_unit main-header_search-container">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <p>
        <div class="body-container" align="center">
        {% block content %}
        {% endblock %}
        </div>
    </p>
    <div class="main-footer_city-landscape-img" role="presentation"></div>
    <small class="main-footer_copyright">
            Created by <b>Helpdesk</b></br>
            Website design by <b>AppEng</b><br><img src="https://cami-canary.yelpcorp.com/static/logo_desktop_xsmall_outline.png" alt="Yelp logo" class="main-footer_logo-copyright">
    </small>
</body>

</html>