{% extends "layout.html" %}
{% block content %}
    <h2 align="center">Is This a Sync Group?</h2>    
        <div class="body-container" align="center"> 
            What is the google group name? 
            <p></p>
            <form method="POST">
                <input name="some_input">
                <input type="submit" value="Send Request">
            </form>
            <br><br><br><br><br><br>
            <small>
                Syncgroup source file last updated {{ file_last_modified }} <br>
                <a href="/repo_content">See Source File</a> | <a href="/write_to_file">Update Source File</a>
            </small>
        </div>
{% endblock content %}